
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl uppercase text-slate-100 font-bold bg-slate-800 py-5 shadow-xl">Créer un nouvel utilisateur</h1>

    <div class="bg-slate-800 p-7 mx-auto my-6 rounded-xl w-4/5 shadow-xl">

        <div class="w-11/12 mx-auto flex flex-col">
            
            {{ form_start(registrationForm) }}
                <div class="mb-8 flex flex-col">
                    {{ form_label(registrationForm.username, 'Identifiant', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'p-2 rounded-lg'}}) }}
                </div>

                <div class="mb-8 flex flex-col">
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'p-2 rounded-lg'}}) }}
                </div>

                <div class="mb-8 flex flex-col">
                    {{ form_label(registrationForm.roles, 'Roles', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                    {{ form_widget(registrationForm.roles, {'attr': {'class': 'text-slate-100 flex gap-2'}}) }}
                </div>

                {{ form_errors(registrationForm, {'class': 'text-red-600 uppercase font-semibold mb-2'}) }}


                <button type="submit" class="btn bg-green-500 rounded-xl text-center hover:brightness-125 shadow-lg font-bold py-2 px-4 w-full">Créer l'utilisateur</button>

            {{ form_end(registrationForm) }}
        </div>
    </div>

    <div class="flex flex-col w-4/5 mx-auto">
        <a href="{{ path('app_user_index') }}"  class="bg-sky-800 text-slate-50 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold">Retour à la liste</a>
    </div>

    {% if error %}
        <div class="text-center">
            <p class="text-xl text-red-500">{{ error }}</p>
        </div>
    {% endif %}
{% endblock %}