<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Recette_lakaz_logo.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ asset('images/Recette_lakaz_logo.png') }}" />
        <meta
        name="description"
        content="Recette i essaye être healthy pou fait la kaz"
        />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="{{ asset('/js/script.js') }}" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="w-[90%] mx-auto bg-sky-200">
        {% block body %}{% endblock %}
    </body>
</html>
