{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
     <h1 class="text-center text-4xl uppercase text-red-500 font-bold py-5">Gestion utilisateur</h1>

    <content class="flex flex-col gap-10 w-11/12 mx-auto">
        <a href="{{ path('app_register') }}" class="bg-green-500 mt-8 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-bold">Nouvel utilisateur</a>
        <table class="table shadow-xl text-lg">
            <thead>
                <tr class="bg-sky-900 text-slate-100 border-2 border-slate-900 uppercase">
                    <th>Roles</th>
                    <th>Identifiant</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody class="bg-sky-900">
            {% for user in users %}
                <tr class="border-2 border-slate-900 objet text-center">
                    <td class="pl-1 border-2 border-slate-900 w-[2rem] {{user.roles|join(', ') is same as 'ROLE_USER, ROLE_ADMIN' ? 'bg-green-500' : 'bg-yellow-400'}}"></td>
                    <td class="bg-slate-200 pl-1 border-2 border-slate-900 font-semibold">{{ user.username }}</td>


                    <td class="w-28">
                        {# <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a> #}
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="bg-yellow-400 text-center px-3  hover:brightness-125 rounded-lg font-semibold">Modifier</a>
                        <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn text-red-700  text-center px-3  hover:brightness-125 rounded-lg font-semibold">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-slate-100 p-3">Aucune demande ne correspond à votre recherche...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="flex flex-col">
            <a href="{{ path('app_recette_index') }}" class="bg-sky-800 text-slate-50 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold">Retour à la liste</a>

        </div>
    <content>

{% endblock %}